@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
  --purple-color:#7f5a83;
  --violet-color:#0d324d;
  --white-color:#ffffff;
  --blue-color:#1c2042;
}
html{
    font-size: 16px;
}
body{
    font-family: 'Poppins',sans-serif;
    height:100vh;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    color:var(--blue-color);
}
.container{
    width: 45%;
    min-width: 45rem;
    background-color:var(--white-color);
    padding: 4rem 3rem;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0,0, 0.15);
}
header{
    min-height: 2.5rem;
    display:flex;
    justify-content:space-between;
    margin-bottom: 4rem;
}
.title{
    font-weight: 700;
    font-size: 1.2 rem;
    line-height: 1.5 rem;
    text-transform: uppercase;
}
.scores p{
    font-size: 1.5 rem;
    line-height: 1.5 rem;
}
.scores p span{
    font-weight: 900;
}
.tools{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.tools button{
    background-color: var(--purple-color);
    color: #ffffff;
    border: none;
    font-size: 60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    outline: none;
}
.details{
    margin-top: 30px;
    text-align: center;
    font-size: large;
    font-weight: 600;
}
#result{
    margin-left: auto;
    margin-right: auto;
    background-color:green;
    border-radius: 50px;
    text-transform: uppercase;
    text-align: center;
    width: 250px;
    font-weight: 800;
    font-size: x-large;
}
span{
    
    font-weight: 500;
}
@media(max-width:700px){
    body{
        min-width:100%;
    }
    .container{
        width: 90%;
        min-width: 10rem;
    }
    .tools button{
        margin-right:25px ;
        outline: none;
    }
    .tools button#lastButton{
        margin-right:0px ;
    }
}